<main>
  <div class="container-fluid">
    <div id="Inicio" class="row align-items-center hero">
      <div class="col-lg-6 offset-lg-5">
        <p>Artista Plástica</p>
        <h1>Pia Martínez</h1>
        <button class="botonhero">Galería</button>

      </div>
    </div>

    <section class="sobremi" id="irasobremi">
      <div id="sobremi" class="row align-items-center py-6">
        <div class="col-lg-3 col-md-3 d-none d-sm-block">
          <img src="images/pia.jpeg.jpeg" alt="sobremi" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-sm-0">
          <h2>Sobre Mí</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quos culpa, repellat molestiae modi vitae
            animi necessitatibus ex architecto! Nemo hic cumque ab quod soluta natus eligendi cupiditate labore
            laboriosam?</p>
        </div>
      </div>
    </section>
    <section class="mispinturas" id="iramispinturas">
      <div id="mispinturas" class="row align-items-center py-4" style="background-color:#837C69 ;">
        <h2>Mis Pinturas</h2>
        <h3>Galería de imágenes</h3>
         <div class="row align-items-center">
          <div class="col-6 col-sm-4 ">
            <img src="images/camposhero.jpeg.jpeg" alt="...">

          </div>
          <div class="col-6 col-sm-4">
            <img src="../images/ccI.jpeg.JPG" alt="...">
          </div>
          <div class="col-6 col-sm-4">
            <img src="../images/ccII.jpeg.JPG" alt="...">
          </div>
          <div class="col-6 col-sm-4">
            <img src="images/camposhero.jpeg.jpeg" alt="...">
          </div>
          <div class="col-6 col-sm-4">
            <img src="images/camposhero.jpeg.jpeg" alt="...">
          </div>
          <div class="col-6 col-sm-4">
            <img src="images/camposhero.jpeg.jpeg" alt="...">
          </div>
        </div>
        <div id="novedades" class="col-md-5 offset-md-2 py-3">
          <h2>Novedades</h2>
          <ul class="lista-novedades">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Novedad 1</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Novedad 2</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Novedad 3</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Novedad 4</a></li>
          </ul>
        </div>
        {{!-- inicio del modal --}}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Novedad 1</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <h3>subtitulo</h3>
                <p>cuerpo</p>
              </div>
            </div>
          </div>
        </div>
        {{!-- fin de modal --}}
      </div>
    </section>

    <section class="contacto" id="iracontacto"></section>
    <div id="contacto" class="row align-items-center py-4" style="background-color:#000000;"></div>
    <h2>Contacto</h2>
    <form class="row g-3" action="/ " method="post">
      <div class="col-md-6">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre">
      </div>
      <div class="col-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
      </div>
      <div class="col-12">
        <label for="mensaje" class="form-label">Mensaje</label>
        <textarea class="form-control" id="mensaje" rows="3" name="mensaje"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>

    </form>
    <p> {{message}} </p>

  </div>
</main>