@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Atkinson+Hyperlegible&family=Biryani&family=Caveat&family=Cormorant+SC&family=Covered+By+Your+Grace&family=Fredericka+the+Great&family=Josefin+Sans&family=Klee+One&family=Livvic&family=Marck+Script&family=Merienda&family=Montagu+Slab&family=Mukta&family=Mulish&family=Nunito+Sans&family=Pacifico&family=Pathway+Gothic+One&family=Philosopher&family=Quicksand&family=Raleway&family=Sen&family=Voltaire&family=Waiting+for+the+Sunrise&family=Ysabeau+SC&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Atkinson+Hyperlegible&family=Biryani&family=Caveat&family=Cormorant+SC&family=Covered+By+Your+Grace&family=Josefin+Sans&family=Livvic&family=Marck+Script&family=Merienda&family=Montagu+Slab&family=Mukta&family=Mulish&family=Nunito+Sans&family=Pacifico&family=Pathway+Gothic+One&family=Quicksand&family=Raleway&family=Sen&family=Voltaire&family=Ysabeau+SC&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Atkinson+Hyperlegible&family=Biryani&family=Caveat&family=Cormorant+SC&family=Covered+By+Your+Grace&family=Fredericka+the+Great&family=Josefin+Sans&family=Livvic&family=Marck+Script&family=Merienda&family=Montagu+Slab&family=Mukta&family=Mulish&family=Nunito+Sans&family=Pacifico&family=Pathway+Gothic+One&family=Quicksand&family=Raleway&family=Sen&family=Voltaire&family=Ysabeau+SC&display=swap');




.navbar{
    background-color: #d6d9dfe6;
    background:-webkit-linear-gradient(90deg, #deddddec 0%, #525251b5 80%);
    font-family: 'mulish';
}
.dropdown-menu{
    background-color: #d6d9dfe6;
}
.nav-link:hover{
    color: white;
    
}
.page:hover{
    color: white;
}

.iconos{
    
    margin: 0 auto;
    
}
.navbar i{
    color: #050400;
    padding:5px 8px ;
    border-radius: 5px;
    margin-right: 15px;
    font-size: 1.2rem;
   
}
.navbar i:hover{
    background-color: #d6d9dfe6;
    color: #525251b5;
}


/*HERO*/
.hero{
    background: url(../images/fotohero2.jpeg.jpeg);
    
    background-size: cover;
    height: 50vh;
    min-height: 620px;
    color: rgb(45, 45, 45);
    font-family: 'Mulish';
    font-size: 2.5rem;
    padding-top: 30px;
    
    text-align: center;
    
    
}
.hero h1{
  color:rgb(255, 255, 255);
   
    letter-spacing: 1rem;
    text-shadow:2px 1px 4px #000000c6;
    font-size: 3.6rem;
    font-family: 'Alegreya Sans';
    /* font-weight: bold; */
    -webkit-animation:appear 2s ease 0s 1 normal;
    -moz-animation:change-color 4s ease 0s infinite normal;
    -ms-animation:change-color 4s ease 0s infinite normal;
    animation:change-color 4s ease 0s infinite normal;
}

.hero h3{
    font-weight: bold;
    font-family: 'Waiting for the Sunrise';
    letter-spacing: 5px;
    
    
}
.botonhero{
    color: #d6dfdfe6 !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #d6dfdf33;
    border: none;
    transition: all 0.7s ease;
    position: relative;
    letter-spacing: 2px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.224);
    
}

  .botonhero:hover{
    background: #d6dfdfb6;
    color: #ffffff97 !important;
  }
    
    

.botonhero a{
    margin: 0 auto;
    text-decoration: none;
    color: #050400;
    

}
.descripcionhero{
    margin-top: 130px;
    font-size: 1.5rem;
    color: black;
    font-family: 'Waiting for the Sunrise';
    font-weight: bolder;
}

/*termina HERO*/


/*SOBREMI*/
.sobremi{
    color: azure;
    background-color: #A3AEAC;
    filter: sepia(15%) brightness(105%) grayscale(20%);
    
    height: 40vh;
    min-height: 550px;
    
}
.sobremi img{
   height: 550px;
   
    

}
.sobremi h2{
    font-family: 'Waiting for the Sunrise';
}
.sobremi p{
    font-family: 'mulish';
}
/*termina sobremi*/

/*MISPINTURAS*/
.mispinturas{
    display: flex;
    width: 100%;
}

.galeria{
    display: flex;
    justify-content: center;
}   


.mispinturas img{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 1.5rem;
    
    
}

.card{
    width: 400px;
    
    border: none;
    
    background-color:#F2F2F2 ;
    text-align: center;
    font-family: 'mulish';
}
.card img{
    height: 450px;
}

.mispinturas img:hover{
    scale: 125%;
    transition: 0.5s;
} 
.mispinturas h2{
    font-family: 'Waiting for the Sunrise';
    margin-top: 50px;
    text-align: center;
}
.mispinturas h3{
    font-family: 'mulish';
    margin-top: 50px;
    text-align: center;
}
/*NOVEDADES*/
.lista-novedades{
    margin: 0;
    padding: 0;
    list-style: none;

}
.novedades{
    margin: 50px 0px;
    font-family: 'mulish';
    
}
.lista-novedades li{
    margin: 4px 0;
    font-family: 'mulish';
    
}
.lista-novedades li a{
    
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #050400;
    transition: all .2s ease-in-out;
    display: block;
    font-family: 'mulish';
    
}
.lista-novedades li a:hover{
    color: white;
    background-color: #B7BBB4;
}

.lista-novedades li a img{
    width: 100px;
    
}
/*termina mispinturas*/


.contacto{
    background-color: #B7BBB4;
    font-family: 'mulish';
}
.contacto h2{
    margin: 50px 0;
    font-family:'Waiting for the Sunrise' ;
}
form{
    background-color: #B7BBB4;
}

.enviar{
    
    background-color: rgb(132, 136, 136);
    border:1px solid #A3AEAC;
}
.enviar:hover{
    background-color: #B7BBB4;
    border:1px solid rgb(132, 136, 136);
    color: rgb(0, 0, 0);
}
.iconoscontacto {
    margin-top: 30px;
}
.iconoscontacto .bi{
    text-align: center;
    color: black;
    margin:  10px;
    font-size: 1.2rem;
}
.iconoscontacto .bi:hover{
    background-color: none;
    color: white;
}
footer{
    padding: 20px 0;
    background-color: #B7BBB4;
}
