nav{
    
    
    
}
.hero{
    background-color: rgb(124, 115, 167);
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: azure;
    
}



footer{
    background-color: #aaa;
}